[Unit]
Description=Disable USB wakeups before sleep if in bag scenario
Before=systemd-suspend.service systemd-hibernate.service systemd-hybrid-sleep.service systemd-suspend-then-hibernate.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/bag-wakeup-guard pre suspend

[Install]
WantedBy=systemd-suspend.service systemd-hibernate.service systemd-hybrid-sleep.service systemd-suspend-then-hibernate.service
